<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.monkeypower.android.straightrazordatabase"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="uk.co.monkeypower.android.straightrazordatabase.StraightRazorDatabaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name="uk.co.monkeypower.android.straightrazordatabase.activities.StraightRazorDatabaseActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uk.co.monkeypower.android.straightrazordatabase.activities.DisplayItemsActivity"
            android:label="@string/title_activity_display_items"
            android:parentActivityName="uk.co.monkeypower.android.straightrazordatabase.activities.StraightRazorDatabaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.monkeypower.android.straightrazordatabase.activities.StraightRazorDatabaseActivity" />
        </activity>
        <activity
            android:name="uk.co.monkeypower.android.straightrazordatabase.activities.DisplayContentActivity"
            android:label="@string/title_activity_display_content"
            android:parentActivityName="uk.co.monkeypower.android.straightrazordatabase.activities.DisplayItemsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.monkeypower.android.straightrazordatabase.activities.DisplayItemsActivity" />
        </activity>
        <activity
            android:name="uk.co.monkeypower.android.straightrazordatabase.activities.AboutActivity"
            android:label="@string/title_about"
            android:parentActivityName="uk.co.monkeypower.android.straightrazordatabase.activities.StraightRazorDatabaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.monkeypower.android.straightrazordatabase.activities.StraightRazorDatabaseActivity" />
        </activity>
    </application>

</manifest>